* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Navbar */
nav {
  background: #020617;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #38bdf8;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #7dd3fc;
}

/* Page container */
.page {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  background: #020617;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.15);
}

/* Inputs */
input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #020617;
  border: 1px solid #334155;
  border-radius: 6px;
  color: #e5e7eb;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #7dd3fc;
}

/* Checkbox */
label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

/* Rating */
.rating {
  font-size: 20px;
  margin-top: 10px;
}
