:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f5f5f5;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: var(--card-bg);
  border-radius: 10px;
}

/* Toggle button */
.theme-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: white;
  font-size: 16px;
}
